body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    font-weight: 300;
    background-image: linear-gradient( rgba(22, 16, 27, 0.822),  rgba(149, 149, 247, 0.788) ), url(comvill.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

/* ...........Style Container........... */

.container {
    width: 53%;
    margin: 20px auto;
    color: azure;
}


/* -------------Style for Page Heading ----------- */

.header-con {
    margin: 40px;
    text-align: center;

}


.heading {
    font-weight: 700;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.center-us {
    text-align: center;
}


/* ----------Form Style----------- */

#form {
    background: rgba(22, 16, 27, 0.808);
    padding:  25px;
    border-radius: 6px;
    
}


.form-content {
    padding: 20px 10px 15px 10px;
}


.bracket-font {
    opacity: 0.5;
}

/* -------------Style of Divs--------- */
.style-div {
    padding: 10px ; 
}


/* ------------Label Style------------ */

label {
    display: flex;
    align-items: center;
    padding: 5px;
}


/* .............Form Input Control......... */

.input-control {
    display: block;
    width: 99%;
    height: 30px; /*33px*/
    padding: 5px 1px;
    color: rgb(7, 7, 12);
    background-color: rgb(212, 212, 211);
    background-clip: padding-box;
    border: 1px solid rgb(160, 150, 150);
    border-radius: 5px;
}

input[placeholder] {
    font-size: 17px;
}

/* ................Style Options......... */

.option-control {
    width: 100%;
    height: 43px;  /*45px*/
    padding: 5px 1px;
    border-radius: 5px;
    font-size: 17px;

}


option {
    width: 100%;
    height: 2em;
    padding: 5px 1px;
    /* font-size: 17px; */
    color: rgb(7, 7, 12);
    background-color: rgb(212, 212, 211);
}



/* ..........Style Textarea.......... */
.textarea {
    min-height: 120px;
    width: 99%;
    padding: 0.256em;
    font-size: 17px;

}



/* ..............Style Button........ */

.submit-button {
    height: 50px;
    width: 100%;
    margin-right: -50px;
    padding: 0.256em;
    background: rgb(17, 233, 161);
    cursor: pointer;
    border: 1px solid  rgb(17, 233, 161);
    border-radius: 4px;
    font-size: 20px;

}